# 🔹 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# 🔹 Entornos virtuales
.env
.venv/
venv/
ENV/

# 🔹 Archivos de entorno / credenciales
.env
googleAuth.json

# 🔹 Playwright
playwright-report/
test-results/
